:root {
  --main-theme: black;
  --secondary-theme: white;
}

/* ELEMENTS */

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(122, 122, 122, 0.73)),
  url("assets/san-diego-background.jpeg");
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

/* CLASSES */

.nav-text {
  color: rgba(255, 247, 237, 0.7);
}

.nav-text:hover {
  color: rgba(255, 247, 237, 1);
}

.landing-button {
  border: solid var(--main-theme);
  background-color: var(--main-theme);
  color: var(--secondary-theme);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.landing-button:hover {
  text-decoration: none;
  border: solid var(--main-theme);
  background-color: var(--secondary-theme);
  color: var(--main-theme);
}

.logo {
  height: 5rem;
  padding: 0rem 2rem;
}

.circular-logo {
  height: 12rem;
  border: 0.5rem solid;
  border-color: rgb(207, 207, 207);
  border-radius: 50%;
  padding: 0.5rem;
}

.timeline-item {
  display: list-item;
}

.vertical-line {
  height: 10rem;
  width: 0.2rem;
  background-color: rgb(207, 207, 207);
}

.timeline-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-link {
  color: var(--main-theme);
  opacity: 80%;
}

.contact-link:hover {
  opacity: 100%;
  color: var(--main-theme);
}

.contact-logo {
  height: 3rem;
  margin: 1rem 0.2rem;
}

.grid-container {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  width: 75rem;
  height: 45rem;
  align-content: center;
  justify-items: center;
  margin: 0 auto;
  padding-top: 10rem;
}

.grid-item {
  width: 25rem;
  height: 15rem;
  text-align: center;
  background-color: var(--secondary-theme);
}

.grid-image {
  width: 25rem;
  height: 15rem;
  object-fit: contain;
}

/* IDs */

#custom-nav-link {
  color: rgba(255, 247, 237, 0.8);
  border: 0.1rem solid;
  border-color: rgba(255, 247, 237, 0.8);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#custom-nav-link:hover {
  color: var(--main-theme);
  background-color: var(--secondary-theme);
}

#navbar {
  background-color: var(--main-theme);
  padding-left: 15%;
  padding-right: 15%;
  opacity: 85%;
}

#name-logo {
  color: rgb(255, 247, 237);
}

#landing-page-content {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 9rem;
}

#profile-pic {
  border: 0.5rem solid var(--secondary-theme);
  border-radius: 50%;
  width: 15rem;
  margin-top: 4em;
}

#landing-name {
  font-size: 5rem;
  font-weight: 800;
}

#landing-bio {
  font-size: 2rem;
  font-weight: 600;
}

#landing-text {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: var(--secondary-theme);
}

#logo-container {
  background-color: white;
  text-align: center;
  padding: 2rem;
}

#timeline-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#contact-container {
  background-color: var(--secondary-theme);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  color: var(--main-theme);
}

#contact-me {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

#links {
  padding-top: 1rem;
  font-size: 1.2rem;
}

#timeline {
  background-color: var(--secondary-theme);
}

#projects {
  background-color: var(--main-theme);
  padding-bottom: 10rem;
}

#projects-title {
  color: var(--secondary-theme);
  padding-top: 5rem;
  text-align: center;
  font-size: 4rem;
}

#projects-description {
  color: var(--secondary-theme);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 300;
}

#timeline-title {
  color: var(--main-theme);
  padding-top: 5rem;
  text-align: center;
  font-size: 4rem;
}
#timeline-description {
  color: var(--main-theme);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 300;
}