:root {
  --main-theme: rgb(43, 29, 20);
  --secondary-theme: rgb(255, 247, 237);
}

/* ELEMENTS */

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

/* CLASSES */

.nav-text {
  color: rgba(255, 247, 237, 0.7);
}

.nav-text:hover {
  color: rgba(255, 247, 237, 1);
}

.landing-button {
  background-color: var(--main-theme);
  color: var(--secondary-theme);
  border-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.landing-button:hover {
  background-color: var(--secondary-theme);
  border-color: var(--main-theme);
  color: var(--main-theme);
}

.logo {
  height: 5rem;
  padding: 0rem 2rem;
}

/* IDs */

#custom-nav-link {
  color: rgba(255, 247, 237, 0.8);
  border: 0.1rem solid;
  border-color: rgba(255, 247, 237, 0.8);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#custom-nav-link:hover {
  color: var(--main-theme);
  background-color: var(--secondary-theme);
}

#navbar {
  background-color: var(--main-theme);
  padding-left: 15%;
  padding-right: 15%;
}

#name-logo {
  color: rgb(255, 247, 237);
}

#landing-page-content {
  text-align: center;
  padding: 5rem 0rem;
  background-color: rgb(255, 247, 237);
}

#profile-pic {
  border: 0.5rem solid var(--main-theme);
  border-radius: 50%;
  width: 22rem;
}

#landing-bio {
  font-size: 2rem;
  font-weight: 300;
}

#landing-text {
  margin: 2rem 0rem;
  color: rgb(43, 29, 20);
}

#logo-container {
  background-color: white;
  text-align: center;
  padding: 2rem;
}