:root {
  --main-theme: rgb(43, 29, 20);
  --secondary-theme: rgb(255, 247, 237);
}

/* ELEMENTS */

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

/* CLASSES */

.nav-text {
  color: rgba(255, 247, 237, 0.7);
}

.nav-text:hover {
  color: rgba(255, 247, 237, 1);
}

.landing-button {
  border: solid var(--main-theme);
  background-color: var(--main-theme);
  color: var(--secondary-theme);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.landing-button:hover {
  text-decoration: none;
  border: solid var(--main-theme);
  background-color: var(--secondary-theme);
  color: var(--main-theme);
}

.logo {
  height: 5rem;
  padding: 0rem 2rem;
}

.circular-logo {
  height: 12rem;
  border: 0.5rem solid;
  border-color: rgb(207, 207, 207);
  border-radius: 50%;
  padding: 0.5rem;
}

.timeline-item {
  display: list-item;
}

.vertical-line {
  height: 10rem;
  width: 0.2rem;
  background-color: rgb(207, 207, 207);
}

.timeline-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-link {
  color: var(--secondary-theme);
  opacity: 80%;
}

.contact-link:hover {
  opacity: 100%;
  color: var(--secondary-theme);
}

.contact-logo {
  height: 3rem;
  margin: 1rem 0.2rem;
}

/* IDs */

#custom-nav-link {
  color: rgba(255, 247, 237, 0.8);
  border: 0.1rem solid;
  border-color: rgba(255, 247, 237, 0.8);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#custom-nav-link:hover {
  color: var(--main-theme);
  background-color: var(--secondary-theme);
}

#navbar {
  background-color: var(--main-theme);
  padding-left: 15%;
  padding-right: 15%;
}

#name-logo {
  color: rgb(255, 247, 237);
}

#landing-page-content {
  text-align: center;
  padding: 5rem 0rem;
  background-color: rgb(255, 247, 237);
}

#profile-pic {
  border: 0.5rem solid var(--main-theme);
  border-radius: 50%;
  width: 22rem;
}

#landing-bio {
  font-size: 2rem;
  font-weight: 300;
}

#landing-text {
  margin: 2rem 0rem;
  color: rgb(43, 29, 20);
}

#logo-container {
  background-color: white;
  text-align: center;
  padding: 2rem;
}

#timeline-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#contact-container {
  background-color: var(--main-theme);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  color: var(--secondary-theme);
}

#contact-me {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

#links {
  padding-top: 1rem;
  font-size: 1.2rem;
}